<!DOCTYPE html>
<html>
<head>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>{% block title %}Bienvenido al Sistema de Gestión de Historias Médicas{% endblock %}</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block stylesheets %}
        {% stylesheets
        'bundles/hchc/Admin/bootstrap/css/bootstrap.min.css'
        'bundles/hchc/Admin/plugins/font-awesome-4.3.0/css/font-awesome.min.css'
        'bundles/hchc/Admin/plugins/ionicons-2.0.1/css/ionicons.min.css'
        'bundles/hchc/Admin/dist/css/AdminLTE.min.css'
        'bundles/hchc/Admin/dist/css/skins/skin-purple.min.css' 
        'bundles/hchc/Admin/plugins/datatables/dataTables.bootstrap.css' 
        output='css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
   

        {% endstylesheets %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="skin-purple">
<div class="wrapper">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {% javascripts
    'bundles/hchc/Admin/plugins/jQuery/jQuery-2.1.3.min.js'
    'bundles/hchc/Admin/bootstrap/js/bootstrap.min.js'
    'bundles/hchc/Admin/dist/js/app.min.js'
    'bundles/hchc/Admin/plugins/datatables/jquery.dataTables.js'
    'bundles/hchc/Admin/plugins/datatables/dataTables.bootstrap.js'

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
