{% extends 'HCHCBundle::layout.html.twig' %}


{% block content_header %}
  <section class="content-header">
    <h1>
      Page Header
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">aqui</li>
    </ol>
  </section>

{% endblock %}



{% block content %}
<p>Bienvenido al dashboard</p>

{% endblock %}