{# {% include 'HCHCBundle::base2.html.twig' %}
 #}

{# {% block content_header %}
  <section class="content-header">
    <h1>
     Modificar Alergia de paciente 
      <small>Modificar alergia seleccionada</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Alergias</a></li>
      <li class="active">aqui</li>
    </ol>
  </section>

{% endblock %} #}

    {% block sinestilo -%}

      {{ form_start(edit_form) }}
      {{ form_row(edit_form._token) }}
      {{ form_row( edit_form.descripcion,{'attr':{'class':'form-control'}} ) }}


        <center>
          <div class="btn-group" style="margin-top:5px">
              <button type="submit" class="btn btn-success">Actualizar</button>
             
          </div>
        </center>

    
    {% endblock %}
    

